<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/confirm/password/comment/post/{id}/create(id=${postId})}">
    <h2>
        비밀번호 확인
    </h2>

    <label for="password">
        비밀번호 :
    </label>
    <input id="password" type="password" name="password" value="000000">
    <input type="hidden" name="writer" th:value="${writer}">
    <input type="hidden" name="postId" th:value="${postId}">

    <button>
        확인
    </button>
</form>
<script th:if="${errorMessage != null}" th:inline="javascript">
    alert(/*[[${errorMessage}]]*/)
</script>
</body>
</html>