<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    <h2>
        비밀번호 확인
    </h2>

    <label for="password">
        비밀번호 :
    </label>
    <input id="password" type="password" name="password" value="000000">
    <input type="hidden" name="domain" th:value="${domain}">
    <input type="hidden" name="domainId" th:value="${domainId}">

    <button type="submit" th:attr="formaction=@{/confirm/password/{domain}/{domainId}/edit(domain=${domain}, domainId = ${domainId})}">
        수정
    </button>
    <button type="submit" th:attr="formaction=@{/confirm/password/{domain}/{domainId}/delete(domain=${domain}, domainId = ${domainId})}">
        삭제
    </button>
</form>
<script th:if="${errorMessage != null}" th:inline="javascript">
    alert(/*[[${errorMessage}]]*/)
</script>
</body>
</html>