<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세 화면</title>
</head>
<body>

<h1>게시글 상세</h1>

<hr>

<div>
    <p>
        <strong>게시글 ID :</strong>
        <span th:text="${post.id}">1</span>
    </p>

    <p>
        <strong>작성자 이름 :</strong>
        <span th:text="${post.nickname}">작성자</span>
    </p>

    <p>
        <strong>생성 날짜 :</strong>
        <span th:text="${#temporals.format(post.createdAt, 'yyyy/MM/dd HH:mm')}">
            2026/05/06 14:30
        </span>
    </p>

    <p>
        <strong>조회수 :</strong>
        <span th:text="${post.viewCount}">0</span>
    </p>

    <p>
        <strong>댓글 수 :</strong>
        <span th:text="${commentCount}">0</span>
    </p>
</div>

<hr>

<div>
    <h2>게시글 내용</h2>
    <p th:text="${post.content}">
        게시글 내용입니다.
    </p>
</div>


<hr>

<div>
    <h2>대표 댓글</h2>

    <div th:if="${#lists.isEmpty(representativeComments)}">
        <p>아직 댓글이 없습니다.</p>
    </div>

    <div th:each="comment : ${representativeComments}">
        <p>
            <strong>댓글 작성자 :</strong>
            <span th:text="${comment.nickname}">댓글 작성자</span>
        </p>

        <p>
            <strong>댓글 내용 :</strong>
            <span th:text="${comment.content}">댓글 내용</span>
        </p>
    </div>
    <button th:onclick="|location.href='@{/comment/post/{id}/comments(id=${post.id})}'|">댓글 더 보기</button>
</div>

<hr>

<div>
    <a href="/post">목록으로</a>
</div>

</body>
</html>