<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시글 수정</title>
</head>
<body>

<div th:fragment="editPostSection">
<h2>게시글 수정</h2>
<div>
  <p>
    <strong>작성자 이름 :</strong>
    <span th:text="${post.nickname}">작성자</span>
  </p>
</div>
<hr>

<form th:action="@{/post/update/{postId}(postId=${post.id})}" method="post">

  <label>게시판</label>
  <select name="boardId">
    <option th:each="board : ${boards}"
            th:value="${board.id}"
            th:text="${board.name}"
            th:selected="${board.id == post.board.id}">
    </option>
  </select>

  <div>
    <label for="title">제목</label>
    <input id="title"
           type="text"
           name="title"
           th:value="${post.title}"
           maxlength="100"
           required>
  </div>

  <br>

  <div>
    <label for="content">내용</label><br>
    <textarea id="content"
              name="content"
              rows="10"
              cols="60"
              required
              th:text="${post.content}"></textarea>
  </div>

  <br>

  <button type="submit">수정 완료</button>

  <button type="button" class="cancel-edit-btn">취소</button>

</form>
</div>

</body>
</html>