<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="commentSection">
    <div id="create-form">
        <div th:if="${errorMessage != null}" th:text="${errorMessage}" style="color:red;"></div>
        <form method="post" th:action="@{/comment/post/{id}/create(id=${postId})}">
            <h2>
                댓글 작성
            </h2>

            <label for="nickname">
                닉네임  :
            </label>
            <input id="nickname" type="text" name="nickname" value="익명">
            <br>

            <label for="password">
                비밀번호 :
            </label>
            <input id="password" type="password" name="password" value="000000">
            <br>

            <label for="content">
                내용 :
            </label>
            <input id="content" type="text" name="content">
            <br>
            <input type="hidden" name="parentId">

            <button>
                제출
            </button>
        </form>
    </div>
    <h2>댓글</h2>
    <div th:each="comment:${comments}" th:style="'margin-left: ' + (${comment.depth} * 50) + 'px'">
        <div th:text="${comment.id}" ></div>
        <div th:text="${comment.content}" ></div>
        <div th:text="${comment.nickname}" ></div>
        <div th:text="${comment.createdAt}" ></div>
        <div th:if="${comment.parent != null}">
            <div th:text="${comment.parent.id}" ></div>
        </div>
        <div th:text="${comment.depth}" ></div>
        <div th:text="${comment.groupId}" ></div>
        <div th:text="${comment.groupOrder}" ></div>
        <button th:onclick="|location.href='@{/confirm/password/comment/{id}?postId={postId}(id=${comment.id}, postId=${postId})}'|">
            수정/삭제
        </button>
        <button class="reply-btn" th:data-comment-id="${comment.id}">
            대댓글
        </button>

    </div>
</div>
</body>

</html>