<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit-comment</title>
</head>
<body>
<div th:fragment="editSection">
    <div th:if="${errorMessage != null}" th:text="${errorMessage}" style="color:red;"></div>
    <form method="post" th:action="@{/comment/{id}/update(id=${commentId}, postId=${postId})}">
        <h2>
            댓글 수정
        </h2>
        <label for="content">
            내용 :
        </label>
        <input id="content" type="text" name="content">
        <br>

        <button>
            수정
        </button>
    </form>
    <script th:if="${errorMessage != null}" th:inline="javascript">
        alert(/*[[${errorMessage}]]*/)
    </script>
</div>
</body>
</html>